/* initialization */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

/* box */

.box {
  margin: 50px auto;
  width: 960px;
  height: 500px;
  text-align: center;
}

/* add_form */

.add_note label {
  font-size: 20px;
}

.add_note textarea {
  margin-top: 20px;
}

.add_note button {
  margin-top: 20px;
  width: 90px;
  height: 45px;
  background-color: green;
  color: antiquewhite;
  border-radius: 10px;
  font-size: 15px;
}

/* table_list */

.table_list h5 {
  text-align: left;
  margin-top: 10px;
  font-size: 15px;
}

.list_element {
  margin-top: 20px;
  text-align: left;
  border: 1px solid rgb(236, 229, 229);
  border-radius: 5px;
  padding: 15px 10px;
}

.list_element button {
  width: 100px;
  height: 30px;
  background-color: rgb(74, 74, 252);
  color: cornsilk;
  border-radius: 10px;
}
